body {
    background-color: lightgray;
    font-family: 'Great Vibes', cursive;
}

div {
    color: gray;
}

.container {
    margin-top: 40px;
    border-radius: 20px;
    height: 400px
}

.QuoteBox {
    font-size: 2.5em;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10%;
}

.QuoteText {
    color: purple;
}

.QuoteAuthor {
    font-size: 0.5em;
    font-family: 'Roboto', sans-serif;
}

.Twitter {
    color: blue;
}

.Button {
    color: green;
    font-family: 'Roboto', sans-serif;
}

.ButtonContainer {
    text-align: center;
}

.TweetBtnContainer {
    text-align: center;

}


.Main {

}